{{ form_start(form) }}
            <form id="regForm">
                <h1 id="register">Ajouter un patient</h1>
                <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span> </div>
                <div class="tab">
                    <p>{{ form_row(formUser.nom) }}</p>
                    <p>{{ form_row(formUser.prenom) }}</p>
                    <p>{{ form_row(formUser.age) }}</p>
                    <p>{{ form_row(formUser.telephone) }}</p>
                    <p>{{ form_row(formUser.cin) }}</p>
                    <p>{{ form_row(formUser.address) }}</p>
                    <p>{{ form_row(formUser.email) }}</p>
                    <p>{{ form_row(formUser.password) }}</p>

                </div>
                <div class="tab">
                    <p>{{ form_row(form.family_history) }}</p>
                    <p>{{ form_row(form.profession) }}</p>
                    <p>{{ form_row(form.status_patient) }}</p>
                    <div class="">
                    <label for="assignee_dossier">aller assigner un dossier pour ce patient</label>
                     <input  type="checkbox" name="assignee_dossier" id="assignee_dossier" class=""style="width: 5%;">

                    </div>
                    
                    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
                </div>
                
                <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Thanks for your information!</h3> <span>Your information has been saved! we will contact you shortly!</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> 
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button> 
                    <div class="parent_submit d-none m-t-20 text-center">
                        <button class="submit btn btn-primary submit-btn">{{ button_label|default('Enregistrer') }}</button>
                     </div>  
    </div>
                </div>
 


   
   
{{ form_end(form) }}

{# {{ form_widget(formUser) }}

    {{ form_widget(form) }}
    
    <div class="m-t-20 text-center">
    <button class="btn btn-primary submit-btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }} #}

 