{% extends 'base.html.twig' %}

{% block title %}Edit Patient{% endblock %}

{% block body %}
    <h1>Edit Patient</h1>

     {# {{ include('patient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_patient_index') }}">back to list</a>

    {{ include('patient/_delete_form.html.twig') }}  #}
    <div class="main-wrapper">
    <div class="page-wrapper">
            <div class="content">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                    {% set form_title = 'Edit Patient' %}
                    {{ include('patient/_form.html.twig', {'button_label': 'Update'}) }}         
            <a class="btn btn-primary float-right mt-3" href="{{ path('app_patient_index') }}">back to list</a>
            {# {{ include('patient/_delete_form.html.twig') }}  #}                       
                    </div>
                </div>
            </div>
         </div>
       </div>
    <script>
        // Toggling the active class from the patient icon to a doctor
        $("#Doctors").removeClass("active");
        $("#Patients").addClass("active");
    </script>
{% endblock %}
