{{ form_start(form ,{ 'attr' : { 'class': 'w-50 ' } , 'enctype' : 'multipart/form-data' }) }}
    <div class="userForm w-100">
                    <p>{{ form_row(formUser.nom) }}</p>
                    <p>{{ form_row(formUser.prenom) }}</p>
                    <p>{{ form_row(formUser.age) }}</p>
                    <p>{{ form_row(formUser.sexe) }}</p>
                    <p>{{ form_row(formUser.telephone) }}</p>
                    <p>{{ form_row(formUser.cin) }}</p>
                    <p>{{ form_row(formUser.address) }}</p>
                    <p>{{ form_row(formUser.email) }}</p>
                    <p>{{ form_row(formUser.password) }}</p>
                </div>
                <div class="medecinForm">
                <p>{{ form_row(form.matricule) }}</p>
                    <p>{{ form_row(form.experience) }}</p>
                    <p>{{ form_row(form.salaire) }}</p>
                    <p>{{ form_row(form.temps_travail) }}</p>
                    <p>{{ form_row(form.jour_travail) }}</p>
                    <p>{{ form_row(form.status_medecin) }}</p>
                    <p>{{ form_row(form.image_medecin) }}</p>
                    <p>{{ form_row(form.fk_specialite) }}</p>
                </div>
                <button class="btn btn-success w-100 text-center my-3" id="SaveDoctorButt">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}