{% extends 'base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block body %}
    <h1>Medecin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ medecin.matricule }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ medecin.experience }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ medecin.salaire }}</td>
            </tr>
            <tr>
                <th>Temps_travail</th>
                <td>{{ medecin.tempsTravail ? medecin.tempsTravail|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Jour_travail</th>
                <td>{{ medecin.jourTravail ? medecin.jourTravail|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status_medecin</th>
                <td>{{ medecin.statusMedecin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medecin_index') }}">back to list</a>

    <a href="{{ path('app_medecin_edit', {'id': medecin.id}) }}">edit</a>

    {{ include('medecin/_delete_form.html.twig') }}
{% endblock %}
