{% extends 'base.html.twig' %}

{% block title %}Dossier index{% endblock %}

{% block body %}
    <h1>Dossier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date_maintenant</th>
                <th>Cahier_sante</th>
                <th>Prix_avance</th>
                <th>Prix_restant</th>
                <th>Prix</th>
                <th>Status_dossier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.id }}</td>
                <td>{{ dossier.title }}</td>
                <td>{{ dossier.dateMaintenant ? dossier.dateMaintenant|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dossier.cahierSante ? 'Yes' : 'No' }}</td>
                <td>{{ dossier.prixAvance }}</td>
                <td>{{ dossier.prixRestant }}</td>
                <td>{{ dossier.prix }}</td>
                <td class="text-center">
                    <div class="dropdown action-label">
                        <a class="custom-badge status-purple dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                            {{ status[dossier.statusDossier]}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                        {% for key , i in status %}
                            <a class="dropdown-item" href="{{ path('dossier_change_status', {'id': dossier.id, 'status': key}) }}">{{ i }}</a>
                             
                        {% endfor %}
                        </div>
                    </div>
                </td>
                {# <td>
                
                </td> #}
                <td>
                    <a href="{{ path('app_dossier_show', {'id': dossier.id}) }}">show</a>
                    <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dossier_new') }}">Create new</a>
{% endblock %}
