{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
    <h1>Chambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ chambre.nombre }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ chambre.status }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ chambre.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chambre.Description }}</td>
            </tr>
            <tr>
                <th>Creer_a</th>
                <td>{{ chambre.creerA ? chambre.creerA|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise_a_jour_a</th>
                <td>{{ chambre.miseAJourA ? chambre.miseAJourA|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chambre_index') }}">back to list</a>

    <a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}">edit</a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
